#thumbnails-vertical--vertical {
  overflow-y: auto;
}
#thumbnails-vertical--vertical .item:last-child {
  margin-bottom: 0px !important;
}
#thumbnails-vertical--horizontal .flex-nowrap {
  overflow-x: auto;
}
#thumbnails-vertical--horizontal .item:last-child {
  margin-right: 0px !important;
}
#thumbnails-horizontal--horizontal .flex-nowrap {
  overflow-x: auto;
}
#thumbnails-horizontal--horizontal .item:last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}
#thumbnails-horizontal--vertical .flex-nowrap {
  overflow-x: auto;
}
#thumbnails-horizontal--vertical {
  overflow-y: auto;
}
#thumbnails-horizontal--vertical .item:last-child {
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}


a {
  color: #000;
}
.nav-link:after {
  content : "/";
  padding-left: 1rem;
}
.nav-link:last-child:after {
  content: "";
}
.separator {
  height: 1px;
  background-color: gray;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
button[data-scope="variant"] {
  background-color: transparent;
  border: 1px solid #dadada;
  outline: none;
  box-shadow: none;
}
.disabled {
  opacity: 0.3;
}
.active {
  border: 1px solid #000 !important;
}
.hidden {
  display: none;
}